:root {
    --basic-gray: #EEEEEE;
    --basic-lighter-gray: #E1E1E1;
    --basic-light-grayer: #B4B9BB;
    --basic-greyer: #DFDFDF;
    --basic-gray-border: #DBDBDB;
    --basic-derker-gray: #D5D5D5;
    --basic-black: #000000;
    --basic-red: #FB565A;
    --basic-dark-red:#E74246;
    --basic-darker-red: #D7373B;
    --basic-green:  #00CA74;
    --basic-dark-green: #00BC6C;
    --basic-darker-green: #00AA62;
    --basic-yellow: #EFC849;
    --basic-dark-yellow: #EAB534;
    --basic-darker-yellow: #E5A722;
    --basic-white: #ffffff;
    --basic-lightgray: #666666;
    --basic-darkgray: #444444;
    --basic-light-black: #283136;
    --basic-black-ckeck-radio: #4D4D4D;

    --special: #663d15;

}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  min-width: 960px;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  font-weight: 500;
  line-height: 30px;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  background-position: top center;


  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  display: grid;
}

/* logo-block */

.logo-item {
  list-style: none;
}

.logo-list a {
  opacity: 0.2;
}

.logo-list a:hover {
  opacity: 1;
}

/* Logo */

.index-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.main-header-logo {
  order: 0;
  justify-self: left;
}

.main-header {
  margin-bottom: 70px;
}

.main-header-logo:hover {
 opacity: 0.7;
}

.main-header-logo:active {
 opacity: 0.3;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-bar {
  background-color: var(--basic-gray);
}

.main-navigation {
  display: grid;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}


.site-navigation a,
.user-navigation a {
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: 500;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
 color: var(--basic-red);
}

/*slide*/

.slider-heading {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider {
  list-style: none;
  background-color: var(--basic-gray);
}

.main-heading {
 line-height: 55px;
 font-size: 55px;
 font-weight: 500;
}

.slide-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-light-black);
}

/* Container */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Feature */

.feature {
  margin-bottom: 80px;
}

.feature-item p {
  margin: 0px;
}

.feature-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  list-style: none;
}


.feature-heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.main-text {
  font-size: 45px;
  line-height: 45px;
}

/* Index columns */

.about-company {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-company-heading {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

/* about-company */

.about-company-list {
  list-style: none;
}

.about-company-subheading {
  font-weight: 700;
  color: var(--basic-light-black);
}

.about-company-text {
  color: var(--basic-light-black);
  font-weight: 400;
}

.about-company-item {
  color: var(--basic-light-black);
  font-weight: 400;
}

/* percentage */

.percentage-list {
  list-style: none;
}

.percentage-item {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.percentage-text {
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-light-black);
}



/* Button */

.button {
  font: inherit;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.button:hover,
.button:focus {
   background-color: var(--basic-dark-red);
}

.button:active {
  background-color: var(--basic-darker-red);
}

.button.disabled,
.button:disabled {
  background-color: var(--basic-darker-red);
}

.button-color-green {
  background-color: var(--basic-green);
}
.button-color-green:hover,
.button-color-green:focus {
  background-color: var(--basic-dark-green)
}

.button-color-green:active {
  color: var(--basic-white);
  background-color: var(--basic-darker-green)
}

.button-color-green.disabled,
.button-color-green:disabled {
  background-color: var(--basic-darker-green);
}

.button-color-yellow {
  background-color: var(--basic-yellow);
}

.button-color-yellow:hover,
.button-color-yellow:focus {
  background-color: var(--basic-dark-yellow)
}

.button-color-yellow:active {
  color: var(--basic-white);
  background-color: var(--basic-darker-yellow);
}

.button-color-yellow.disabled,
.button-color-yellow:disabled {
  background-color: var(--basic-darker-yellow);
}

.social-icon {
  width: 27px;
  height: 15px;
}

.social-button {
 border-radius: 50%;
 color: var(--basic-white);
 background-color: var(--basic-lighter-gray) ;
}

.social-button:hover,
.social-button:focus {
  color: var(--basic-white);
  background-color: var(--basic-dark-red);
}

.social-button:active .social-icon {
  opacity: 0.3;
  background-color: var(--basic-darker-red);
}

/* Main footer */

.main-footer {
  padding: 60px 0;
  margin-top: 65px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;}

.footer-social {
  justify-self: left;
  outline-offset: -5px;
}


.footer-heading .footer-text {
  margin: 0;
}

.main-footer .footer-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-address {
  font-size: 18px;
  line-height: 30px;
}

.footer-social-list {
  list-style: none;
}

.address {
  line-height: 18px;
  color: var(--basic-lightgray);
}

.footer-phone {
  color: var(--basic-lightgray);
}

.footer-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.footer-text {
  color: var(--basic-darkgray);
  line-height: 22px;
}

/* Form */

.appointment-input:hover {
  outline: none;
  color: var(--basic-light-grayer);
}

.appointment-input:focus {
  color: var(--basic-black);
}

/* невалидное значение */

.appointment-input {
  color: var(--basic-red);
}


/* Каталог */

.site-navigation-catalog-current {
 text-decoration: underline;
 line-height: 30px;
}

/* filters */

.catalog-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter ul {
 list-style: none;
 line-height: 20px;
}

.filter-input-checkbox {
  opacity: 0.4;
  color: var(--basic-black-ckeck-radio);
}

.filter-input-checkbox:hover {
  opacity: 1;
  color: var(--basic-black-ckeck-radio);
}

.filter-input-radio {
  opacity: 0.4;
  color: var(--basic-black-ckeck-radio);
}

.filter-input-radio:hover {
  opacity: 1;
  color: var(--basic-black-ckeck-radio);
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  border-radius: 3px;
  border:none;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-greyer);
}

.filter-button:active {
  color: var(--basic-black) ;
  opacity: 0.3;
  background-color: var(--basic-derker-gray) ;
}

 /* Catalog */

.catalog-sorting {
  font-size: 14px;
  line-height: 18px;
}

.catalog-sorting-list {
 list-style: none;
}

.catalog-sorting-item {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-sorting-item:hover,
.catalog-sorting-item:focus {
  color: var(--basic-black);
  opacity: 0.6;
}

.catalog-sorting-item:active {
  opacity: 1;
  color: var(--basic-black);
}

 .catalog-list {
  list-style: none;
}

.catalog-heading {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: 700;
}

.catalog-heading:hover,
.catalog-heading:focus {
 color: var(--basic-red);
}

.catalog-heading:active {
  opacity: 0.3;
  color: var(--basic-black);
}

.catalog-price {
  text-align: center ;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.catalog-text {
  font-style: normal;
  font-size: normal;
  line-height: 18px;
  color: var(--basic-lightgray);
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  background-color: var(--basic-gray);
  color: var(--basic-black);
  border-radius: 3px;
  text-align: center;
  font-weight: 500;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--basic-greyer);
}

.pagination-item:active .pagination-number {
  opacity: 0.3;
  background-color: var(--basic-derker-gray);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-gray-border)
}
